.font {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.text {
  background-color: rgb(70, 70, 138);
  opacity: 80%;
  border-radius: 10%;
  padding: 4%;
  /* color: aliceblue; */
}

.heading {
  text-align: center;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* color: aqua; */
  /* background-color: yellow; */
  border-radius: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

body {

  font-family: "Montserrat", sans-serif;
  background-color: rgb(212, 12, 12);

 
}

.content {

  font-size: 25px;
}

.home_content{
  text-align: center;
    /* margin-top:"20px"; */
    background-color: black;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px 20px;;
  margin-top: 5%;
  text-align: center;
}

.banner h1 {
    color: rgb(127, 167, 252);
  
  font-size: 40px;
  
  text-decoration: underline;
}
.banner h2 {
  
  font-size: 30px;
  color: aliceblue;
  padding: 1rem;
}

.banner h3 {
  text-align: left;
  font-size: 20px;
  color: aliceblue;
  padding: 0 15%;
}
