.font {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

/* .text {
  background-color: rgb(70, 70, 138);
  opacity: 80%;
  border-radius: 10%;
  padding: 4%;
  color: aliceblue;
} */

.home_div{
  width: 30%;
  display:inline-flex;
  margin: 12px;
  justify-content: center;
}

.home_main_div{
  height:100%;
/* background-size: cover; */
  text-align: center;
  background-color: black;
}

.page_heading{
  border:2px solid black;
  margin-left:20%;
  margin-right:20%;
  margin-top:20px;
  display:flex;
  height:80px;
  justify-content:center;
  border-radius:50px 50px 50px 50px;
}

/* .heading {
  text-align: center;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 20%;
  margin-left: 40%;
  margin-right: 40%;
} */

body {
  font-family: "Montserrat", sans-serif;
  /* background-color:rgb(149, 206, 255); */
  background-color:rgb(109, 167, 255);
  /* margin-bottom: 30px; */
}

/* .content {
  font-size: 25px;
} */

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Ques{
  color: rgb(3, 73, 67);
  font-size: 22px;
}

.question{
  color:black;
  margin: 15px;
}

.questions_page{
  overflow: auto;

}

.answer_link{
  color:rgb(107, 107, 255);
  text-decoration:none;
}

a{
  font-size: 20px;
}
@media screen and (max-width:950px) {
  .home_div{
    width: 40%;
    display:inline-flex;
    margin: 20px;  
    justify-content: center;
  }
}

@media screen and (max-width:500px) {
  .home_div{
    width: 80%;
  }
}


.banner {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px 20px;;
  margin-top: 5%;
  text-align: center;
}

.banner h1 {
    color: rgb(127, 167, 252);
  
  font-size: 40px;
  
  text-decoration: underline;
}
.banner h2 {
  
  font-size: 30px;
  color: aliceblue;
  padding: 1rem;
}

.banner h3 {
  text-align: left;
  font-size: 20px;
  color: aliceblue;
  padding: 0 15%;
}

